*.code-workspace
*.wpvars
.DS_Store
.env.local
.fleet
.idea
.php-cs-fixer.cache
.php_cs.cache
.phpstorm.meta.php
.phpunit.cache
.phpunit.result.cache
.tinkerun/
.vscode
.waypoint/
/.run/
/coverage
/vendor
Dockerfile-*
_ide_helper.php
_ide_helper_models.php
analysis/
audit.json
auth.json
cghooks.lock
clover.xml
junit.xml
node_modules/
phpstan-storm-link
phpstan.neon
phpunit-report.xml
phpunit.dusk.xml
phpunit.xml
rector.php
resources/apps/partner/node_modules/
resources/apps/storefront/node_modules/
resources/apps/whitelabel/node_modules/
resources/assets/admin/node_modules/
resources/assets/front/node_modules/
storage/app/api-file-storage
storage/app/domains
test-coverage
test-coverage/
waypoint.hcl
/docs/Infra/Hubspot/Http/http-client.private.env.json
.agents/skills/
