[Infra]
/.gitlab-ci.yml @sandwave/team-infra
/.gitlab/ @sandwave/team-infra
/artisan @sandwave/team-infra
CODEOWNERS @sandwave/team-infra @sandwave/team-tech-leads

^[CodeOwners]
/ @sandwave/team-tech-leads
/phpstan-baseline.neon @sandwave/team-everyone
/phpstan.neon.dist @sandwave/team-everyone
/rector.php @sandwave/team-everyone
/.php-cs-fixer.dist.php @sandwave/team-everyone
/phpunit.xml.dist @sandwave/team-everyone
/config/horizon.php @sandwave/team-infra
/database/seeds/ @sandwave/team-everyone
/docs/ @sandwave/team-everyone
/docs/Domain/DNS/ @sandwave/domain-provisioning
/docs/Domain/Domains/ @sandwave/domain-provisioning
/docs/Domain/Hosting/ @sandwave/domain-provisioning
/docs/Domain/HubSpot/ @sandwave/domain-customer-management
/docs/Domain/Mailer/ @sandwave/domain-business-rules
/docs/Domain/Orders/ @sandwave/domain-business-rules
/docs/Domain/Subscriptions/ @sandwave/domain-business-rules
/docs/Domain/VPS/ @sandwave/domain-provisioning
/docs/Domain/Provision/ @sandwave/domain-provisioning
/docs/Infra/DirectAdminClient/ @sandwave/domain-provisioning
/docs/Infra/DirectAdminJsonClient/ @sandwave/domain-provisioning
/docs/Infra/RtrClient/ @sandwave/domain-provisioning
/resources/ @sandwave/domain-customer-management
/resources/lang/ @sandwave/team-everyone
/resources/lang/atlantis*.json @sandwave/domain-product-ordering
/src/Apps/API/Atlantis/ @sandwave/domain-business-rules
/src/Apps/API/Compass/ @sandwave/domain-customer-management
/src/Apps/API/Harbor/ @sandwave/domain-debtor-management
/src/Apps/API/Middleware/ @sandwave/domain-authentication
/src/Apps/API/Partners/ @sandwave/domain-business-rules
/src/Apps/API/Waterfront/ @sandwave/domain-customer-management
/src/Apps/API/Waterfront/Policies/ @sandwave/domain-authentication
/src/Apps/Console/Commands/Harbor/ @sandwave/domain-debtor-management
/src/Apps/Console/Commands/HubSpot/ @sandwave/domain-customer-management
/src/Apps/Nova/ @sandwave/domain-customer-management
/src/Apps/Nova/OneOffScripts/ @sandwave/team-everyone
/src/Apps/OneOffScripts/ @sandwave/team-everyone
/src/Domain/Admin/ @sandwave/domain-customer-management
/src/Domain/AuditLogs/ @sandwave/domain-customer-management
/src/Domain/Customers/ @sandwave/domain-business-rules
/src/Domain/DNS/ @sandwave/domain-provisioning
/src/Domain/Domains/ @sandwave/domain-provisioning
/src/Domain/Email/ @sandwave/domain-business-rules
/src/Domain/Redirects/ @sandwave/domain-provisioning
/src/Domain/History/ @sandwave/domain-business-rules
/src/Domain/Hosting/ @sandwave/domain-provisioning
/src/Domain/Mailer/ @sandwave/domain-business-rules
/src/Domain/MailManagement/ @sandwave/domain-provisioning
/src/Domain/ManualProvisioning/ @sandwave/domain-provisioning
/src/Domain/Marketing/ @sandwave/domain-customer-management
/src/Domain/Microsoft365/ @sandwave/domain-provisioning
/src/Domain/Notes/ @sandwave/domain-business-rules
/src/Domain/OneTimeServices/ @sandwave/domain-debtor-management
/src/Domain/Orders/ @sandwave/domain-business-rules
/src/Domain/Placeholder/ @sandwave/domain-provisioning
/src/Domain/Products/ @sandwave/domain-business-rules
/src/Domain/Products/ProductPrice/ @sandwave/domain-business-rules
/src/Domain/Provision/ @sandwave/domain-provisioning
/src/Domain/ResellerHosting/ @sandwave/domain-provisioning
/src/Domain/Servers/ @sandwave/domain-provisioning
/src/Domain/Sitebuilder/ @sandwave/domain-provisioning
/src/Domain/Ssl/ @sandwave/domain-provisioning
/src/Domain/Subscriptions/ @sandwave/domain-business-rules
/src/Domain/Subscriptions/SubscriptionProcessor/ @sandwave/team-everyone
/src/Domain/Transfers/ @sandwave/domain-provisioning
/src/Domain/Translations/ @sandwave/domain-customer-management
/src/Domain/Voucher/ @sandwave/domain-business-rules
/src/Domain/VPS/ @sandwave/domain-provisioning
/src/Infra/Authentication/ @sandwave/domain-authentication
/src/Infra/HubspotClient/ @sandwave/domain-customer-management
/src/Infra/MollieClient/ @sandwave/domain-debtor-management
/src/Infra/News/ @sandwave/domain-customer-management
/src/Infra/OpenproviderClient/ @sandwave/domain-provisioning
/src/Infra/PasswordGenerator/ @sandwave/domain-authentication
/src/Infra/PaytClient/ @sandwave/domain-debtor-management
/src/Infra/Translation/ @sandwave/domain-customer-management
/src/Support/Providers/ @sandwave/team-everyone
/src/Support/Providers/VatApiFakers/ @sandwave/domain-debtor-management
/tests/Apps/API/Atlantis/ @sandwave/domain-business-rules
/tests/Apps/API/Compass/ @sandwave/domain-customer-management
/tests/Apps/API/Harbor/ @sandwave/domain-debtor-management
/tests/Apps/API/Waterfront/ @sandwave/domain-customer-management
/tests/Apps/Nova/ @sandwave/domain-customer-management
/tests/Apps/Nova/OneOffScripts/ @sandwave/team-everyone
/tests/Apps/OneOffScripts/ @sandwave/team-everyone
/tests/Domain/Admin/ @sandwave/domain-customer-management
/tests/Domain/AuditLogs/ @sandwave/domain-customer-management
/tests/Domain/Customers/ @sandwave/domain-business-rules
/tests/Domain/DNS/ @sandwave/domain-provisioning
/tests/Domain/Domains/ @sandwave/domain-business-rules @sandwave/domain-provisioning
/tests/Domain/Email/ @sandwave/domain-business-rules @sandwave/domain-provisioning
/tests/Domain/Redirects/ @sandwave/domain-provisioning
/tests/Domain/Harbor/ @sandwave/domain-debtor-management
/tests/Domain/Hosting/ @sandwave/domain-provisioning
/tests/Domain/Invoices/ @sandwave/domain-debtor-management
/tests/Domain/Mailer/ @sandwave/domain-business-rules
/tests/Domain/ManualProvisioning/ @sandwave/domain-provisioning
/tests/Domain/Marketing/ @sandwave/domain-customer-management
/tests/Domain/Microsoft365/ @sandwave/domain-provisioning
/tests/Domain/OneTimeServices/ @sandwave/domain-debtor-management
/tests/Domain/Orders/ @sandwave/domain-business-rules
/tests/Domain/Payments/ @sandwave/domain-debtor-management
/tests/Domain/Placeholder/ @sandwave/domain-provisioning
/tests/Domain/Products/ @sandwave/domain-business-rules
/tests/Domain/RealtimeRegister/ @sandwave/domain-provisioning
/tests/Domain/ResellerHosting/ @sandwave/domain-provisioning
/tests/Domain/Servers/ @sandwave/domain-provisioning
/tests/Domain/Sitebuilder/ @sandwave/domain-provisioning
/tests/Domain/Ssl/ @sandwave/domain-provisioning
/tests/Domain/Subscriptions/ @sandwave/domain-business-rules
/tests/Domain/Transfers/ @sandwave/domain-business-rules
/tests/Domain/Translations/ @sandwave/domain-customer-management
/tests/Domain/Voucher/ @sandwave/domain-business-rules
/tests/Domain/VPS/ @sandwave/domain-provisioning
/tests/Infra/Authentication/ @sandwave/domain-authentication
/tests/Infra/HubspotClient/ @sandwave/domain-customer-management
/tests/Infra/MollieClient/ @sandwave/domain-debtor-management
/tests/Infra/News/ @sandwave/domain-customer-management
/tests/Infra/OpenproviderClient/ @sandwave/domain-provisioning
/tests/Infra/PasswordGenerator/ @sandwave/domain-authentication
/tests/Infra/PaytClient/ @sandwave/domain-debtor-management
/tests/Infra/Translation/ @sandwave/domain-customer-management

[RequiredCodeOwners]
CODEOWNERS @sandwave/team-tech-leads @sandwave/team-infra
/src/Apps/API/Ferry/ @sandwave/domain-migrations
/src/Domain/Ferry/ @sandwave/domain-migrations
/src/Domain/Harbor/ @sandwave/domain-debtor-management
/src/Domain/Invoices/ @sandwave/domain-debtor-management
/src/Domain/Payments/ @sandwave/domain-debtor-management
/src/Domain/Provision/ @sandwave/domain-provisioning
/src/Infra/CloudStackClient/ @sandwave/domain-provisioning
/src/Infra/DirectAdminClient/ @sandwave/domain-provisioning
/src/Infra/DirectAdminJsonClient/ @sandwave/domain-provisioning
/src/Infra/AcronisClient/ @sandwave/domain-provisioning
/src/Infra/GandiClient/ @sandwave/domain-provisioning
/src/Infra/Logging/Formatters/InsightsFormatter.php @sandwave/team-tech-leads @sandwave/team-infra
/src/Infra/MicrosoftOnlineClient/ @sandwave/domain-provisioning
/src/Infra/PleskClient/ @sandwave/domain-provisioning
/src/Infra/PowerDnsClient/ @sandwave/domain-provisioning
/src/Infra/RtrClient/ @sandwave/domain-provisioning
/src/Infra/SpamExpertsClient/ @sandwave/domain-provisioning
/src/Infra/WpToolkitClient/ @sandwave/domain-provisioning
/src/Support/Enums/LoggingContextKeys.php @sandwave/team-tech-leads
/tests/Apps/API/Ferry/ @sandwave/domain-migrations
/tests/Domain/Ferry/ @sandwave/domain-migrations
/tests/Domain/Provision/ @sandwave/domain-provisioning
/tests/Infra/CloudStackClient/ @sandwave/domain-provisioning
/tests/Infra/DirectAdminClient/ @sandwave/domain-provisioning
/tests/Infra/DirectAdminJsonClient/ @sandwave/domain-provisioning
/tests/Infra/GandiClient/ @sandwave/domain-provisioning
/tests/Infra/MicrosoftOnlineClient/ @sandwave/domain-provisioning
/tests/Infra/PleskClient/ @sandwave/domain-provisioning
/tests/Infra/PowerDnsClient/ @sandwave/domain-provisioning
/tests/Infra/RtrClient/ @sandwave/domain-provisioning
/tests/Infra/SpamExpertsClient/ @sandwave/domain-provisioning
/tests/Infra/WpToolkitClient/ @sandwave/domain-provisioning

